params {
    sra_ids = null
    human_ref_link = "https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2024-A.tar.gz"
    meta_data_file = null
}

process {
    shell = ['/bin/sh', '-ue']
    
    withLabel: 'sra_tools' {
      container = 'ncbi/sra-tools:3.2.1'
      errorStrategy = 'retry'
      maxRetries = 2
      executor = 'local'
    }
    
    withLabel: 'align_tools' {
      container = 'nfcore/cellranger:7.2.0'
      shell = ['/bin/bash', '-ueo', 'pipefail']
    }
    
    withLabel: 'R_tools' {
      container = 'r-base:4.5.1'
    }
    
}
